@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    background-color: #f3f3f3;
}

header {
    height: 70px;
    /* background: linear-gradient(to bottom right, rgba(216, 216, 216, 0.611), gray, #384548); */
    background-color: #0c0d12e2;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main {
    font-family: 'Montserrat', sans-serif;
}


footer {
    height: 70px;
    /* background: linear-gradient(to bottom left, rgba(216, 216, 216, 0.611), gray, #384548); */
    background-color: #0c0d12e2;
    clear: both;
}

.navlogo {
    width: 70px;
    border-radius: 12px;
    padding: 10px;
    margin-left: 15px;
}

.navref {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    margin-right: 1%;
    padding: 0;
}

 .navref a:hover {
    text-decoration: underline;
 }

.navref a {
    text-decoration: none;
    color: #f1d7dd;
    padding: 25px;
    /* margin-right: 50px; */
    font-size: 17px;

    
    
}

.bannerIMG {
    background: url('../resources/banner.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
    background-blend-mode: multiply;

}

.CopyRight {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #f1d7dd;

}

.products {
    width: 30%;
    height: 300px;
    border: 2px solid gray;
    border-radius: 5px;
    position: relative;
    float: left;
    margin: 1%;
    margin-left: 2%;
    padding: 2%;
    /* background: linear-gradient(to bottom right, rgba(197, 197, 197, 0.611), #384548); */
    /* background: linear-gradient(to bottom right, #f1d7dd,#0c0d12e2); */
    background-color: #0c0d12e2;
    box-sizing: border-box; 
    overflow: auto; 
    box-shadow: 5px 5px 5px gray; 
    color: #f1d7dd;
    
}

.products p {
    font-size: 17px;
}

.GIcons {  
    width: 30%;
    float: right;
    text-align: center;
}

.GIcons img {
    width: 90px;
    height: 100%;
    /* border-radius: 50%; */
}

.likebtn {
    float: right;
}

.Intro {
    margin: 2%;
    border: 2px solid #0c0d12e2;
    border-radius: 12px;
    padding: 2%;
}

.welcome {
    text-align: center;
    font-size: 25px;
}

.welcome span {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
}

.Footercontent {
    display: flex;
    flex-flow:  row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 1%
}

.Footercontent img{
    width: 70px;
    border-radius: 12px;
    padding: 10px;
}

.SocialRefIcons img{
    width: 30px;
}
