@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

/*--------- Home&general page styles ---------------------------------------------------------------------------------------------------------------------------------- */


body {
    margin: 0;
    background-color: #f5f5f5;
}

header {
    height: auto;
    background-color: #0c0d12e2;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header input {
    visibility: hidden;
}

main {
    font-family: 'Montserrat', sans-serif;
}
footer {
    height: auto;
    background-color: #0c0d12e2;
    clear: both;
    
}

.icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);

}

.icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #f1d7dd;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out
}

.navlogo {
    width: 70px;
    border-radius: 12px;
    padding: 10px;
    margin-left: 15px;
}

.navref {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    margin-right: 1%;
    padding: 0;
}

.navref a:hover {
    color: #fcedf1;
    transition-duration: 350ms;

}

 .navref li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -15px;
 }

.navref a {
    text-decoration: none;
    color: #f1d7dd;
    padding: 25px;
    font-size: 17px;
    text-transform: uppercase;
}

.sub-menu-1 {
    display: none;
    background-color: #27282c;
    padding: 10px;
    width: auto;

}

.sub-menu-1 ul li {
    height: 30px;
    margin: 0 30px 0 0px;
    padding-top: 10px;
    list-style-type: none;
    border-bottom: 2px dashed #f1d7dd;
}

.sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.sub-menu-1 ul li a {
    padding: 0;
}


.bannerIMG1 {
    background: url('../resources/products/bannerCenter.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerIMG1 span{
    margin: 0;
    padding: 0 1% 0 1%;
    color: #f1d7dd;
    text-align: center;
    font-size: 100px;
    background-color: rgba(11, 12, 18, 0.741);
    border-radius: 12px;
    width: auto;
    
}

.pBantet {
    text-align: center;
    color: #0c0d12e2;
}

.products {
    width: 450px;
    height: auto;
    border-radius: 5px;
    margin: 1%;
    padding: 2%;
    background-color: #0c0d12e2;
    box-sizing: border-box; 
    box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.85); 
    text-align: left;
    
}

.products p {
    font-size: 17px;
    color: #f1d7ddd5;
    letter-spacing: 0px;

}

.products h3 {
    text-align: center;
    color: #f1d7dd;

}

.products-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 20px 0px;
    
}

.domain {
    font-weight: bold;
}

#form1, #form2, #form3, #form4, #form5 {
    display: none;
    margin-left: auto;
    margin-right: auto;
    left: 33%;
    top: 130%;
    text-align: center;
    width: 645px;
    height: auto;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 1%;
    background-color: #27282c;
    box-sizing: border-box; 
    box-shadow: 5px 5px 5px gray; 
    text-align: left;
    position: absolute;
    z-index: 2;
}

#form2, #form3, #form4, #form5 {
    top: 70% !important;
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(128, 128, 128, 0.501);
    z-index: -1;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #f1d7dd;
    color: #0c0d12e2;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}

.formp {
    color: #f1d7dd;
    font-size: large;
}

.form-text {
    color: #f1d7dd;
}

.form-buy {
    transition-duration: 500ms;
}

.ProductSeparation {
    height: 70px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.ProductSeparation img {
    width: 50px;
    height: 50px;
    padding: 0px 20px 0px 20px; 
}

.CategorySeparation {
    text-align: center;
}

.CategoryContent {
    border-radius: 12px;
}

.GIcons {  
    text-align: center;
}

.GIcons img {
    width: 275px;
    height: 100%;
    border-radius: 6px;
}

.parf-type {
    color: #f1d7ddd9;
    text-align: center;
}

.btn {
    float: right;
    background: #f1d7dd;
    width: 100px;
    color: #0c0d12e2;
    border-radius: 50px 0px 50px 0px;
    bottom: 0;
    cursor: pointer;
}

.Intro {
    margin: 2%;
    border: 2px solid #0c0d12e2;
    border-radius: 12px;
    padding: 2%;
    text-shadow: 0.5px 1px gray;
    background-color: #f1d7dd;
}

.intro-descr {
    font-size: 18px;
    
}

.achievs {
    clear: both;
    border: 2px solid #0c0d12e2;
    background-color: #f1d7dd;
    border-radius: 12px;
    padding: 2%;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.achievs ul {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    
}

.achievs ul span {
    vertical-align: middle;
    font-weight: 600;
    color: #0c0d12e2;
}

.achievs ul img {
    width: 60px;
    padding-top: 20px;
}

.logo3 {
    width: 400px;
    border-radius: 12px;
    
}

.main-ques {
    text-align: left;
    font-size: 28px;
    margin: 0;
}

.main-ques span {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    
}

.ques-content img {
    vertical-align: -16px;
}

.welcome {
    text-align: center;
    font-size: 25px;
}

.welcome span {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
}

.CopyRight {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #f1d7dd;

}

.Footercontent {
    display: flex;
    flex-flow:  row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1% 0 1%;
}

.Footercontent img{
    width: 70px;
    border-radius: 12px;
    padding: 10px;
}

.SocialRefIcons img{
    width: 30px;
}

.disclaimer {
    margin: 0;
    color: #f1d7dd;
    text-align: center;
    padding: 7px;
    border-top: 1px solid #f1d7dd;
    font-size: 12px;
}

.disclaimer p {
    padding: 0;
    margin: 0;
}

.gotopbtn {
    position: fixed; 
    bottom: 3px; 
    right: 30px; 
    

}

.gotopbtn img {
    width: 45px;
    height: 45px;
}

/* */

/*--------- AboutUs page styles ---------------------------------------------------------------------------------------------------------------------------------- */

.img-store {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../resources/products/MagazinPoza.jpg');
    background-attachment: fixed;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-store span {
    margin: 0;
    padding: 0 1% 0 1%;
    color: #f1d7dd;
    font-size: 60px;
    background-color: rgba(11, 12, 18, 0.741);
    border-radius: 12px;
    width: auto;
}

.images img {
    width: 108px;
    height: auto;
    padding: 5px;
}

.images {
    background-color: #f5f5f5;
}

.partners-images h3 {
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.prth3 {
    border-bottom: 2px solid #0c0d12b1;
    padding-bottom: 1%;
}


/* */

/*--------- ContactUs page styles ---------------------------------------------------------------------------------------------------------------------------------- */
 
body{
    font-family: 'Montserrat', sans-serif;

}
.contact-wrap
{
    width:90%;
    margin: auto;
    display: flex;
    flex-wrap:wrap;
    padding: 2%;
    
}

.contact-in
{
    padding: 40px 30px;
    margin: 2px;
    border: 1px solid #0c0d12e2;
    border-radius: 2px;
 
}
.contact-in:nth-child(1){
    flex:10%;
    background-image: url('../resources/products/ContactUsPic.jpg');
    background-size: cover;
}

#telref {
    text-decoration: none;
}
 
.contact-in:nth-child(2){
    flex:25%;
    padding: 0;
    flex-wrap: wrap;

}
.contact-in h1{
    font-size: 24px;
    color: #f1d7dd;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;

}

.contact-in h2 i{
    font-size: 24px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #f1d7dd;
    color: #0c0d12d4;
    border-radius:50px;
    line-height:40px;
    text-align:center;
}
.description{
    font-size:16px;
    font-weight: 300;
    color: #f1d7dd;
    margin-bottom:20px;
}
 
.contact-in iframe{
    width:100%;
    height:100%;
}

.item {
    color: #f1d7dd;
}



/* */

/*--------- Media pages styles ---------------------------------------------------------------------------------------------------------------------------------- */


@media (max-width: 1366px) {
    .products {
        width: 350px;
    }

    #form1, #form2, #form3, #form4, #form5 {
        display: none;
        margin-left: auto;
        margin-right: auto;
        left: 33%;
        top: 190%;
        text-align: center;
        width: 460px;
        height: auto;
        border: 2px solid gray;
        border-radius: 5px;
        padding: 1%;
        background-color: #27282c;
        box-sizing: border-box; 
        box-shadow: 5px 5px 5px gray; 
        text-align: left;
        position: absolute;
        z-index: 2;
    }
    
    #form2, #form3, #form4, #form5 {
        top: 100% !important;
    }
}


@media (max-width: 928px){

    .navlogo {
        width: 70px;
        border-radius: 12px;
        padding: 10px;
        margin-left: 0;
    }

    .Intro {
        margin: 2%;
        border: 2px solid #0c0d12e2;
        border-radius: 12px;
        padding: 2%;
        text-shadow: none;
        background-color: #f1d7dd;
    }

    #form1, #form2, #form3, #form4, #form5 {
        display: none;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        top: 220%;
        text-align: center;
        width: auto;
        height: auto;
        border: 2px solid gray;
        border-radius: 5px;
        padding: 1%;
        background-color: #27282c;
        box-sizing: border-box; 
        box-shadow: 5px 5px 5px gray; 
        text-align: left;
        position: absolute;
        z-index: 2;
    }
    
    #form2, #form3, #form4, #form5 {
        top: 100% !important;
    }

    .contact-in:nth-child(1){
        width: 90%;
        background-image: url('../resources/products/ContactUsPic.jpg');
        background-size: cover;
    }
     
    .contact-in:nth-child(2){
        width: 90%;
        padding: 0;
        flex-wrap: wrap;
    
        
    }

    .contact-wrap .contact-in {
    width:90%;
    height:auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
 
    
    }

    .contact-in h1{
        font-size: 24px;
        color: #f1d7dd;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 20px;
        font-family: 'Montserrat', sans-serif;
    
    }

    .contact-in {
        flex-direction: column;
        
        
    }

    #harta {
        margin-top: 5px;
    }

    .contact-in h2 i{
        font-size: 24px;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        background: #f1d7dd;
        color: #0c0d12d4;
        border-radius:50px;
        line-height:40px;
        text-align:center;
    }
    .description{
        font-size:16px;
        font-weight: 300;
        color: #f1d7dd;
        margin-bottom:20px;
    }

  

    .contact-in iframe{
        width:auto;
        height:auto;
    }


    
    
    .bannerIMG1 {
        background: url('../resources/products/bannerCenter.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
        height: 300px;
        
    }
    
    .disclaimer {
        margin: 0;
        color: #f1d7dd;
        text-align: center;
        border-top: 1px solid #f1d7dd;
        font-size: 14px;
    }

    .achievs {
        clear: both;
        border: 2px solid #0c0d12e2;
        border-radius: 12px;
        padding: 2%;
        margin: 2%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .achievs ul li span {
        vertical-align: middle;
        font-weight: 600;
        font-size: 13px;
    }

    .achievs ul {
        list-style: none;
        display: flex;
        flex-flow: column wrap;
        padding: 9px;
    }
    
    .CopyRight {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        color: #f1d7dd;
        font-size: 13px;
    }

    .logo3 {
        width: 375px;
        
    }

    .products div:nth-child(1) {
        padding: 2%;
    }
}

@media (max-width: 795px) {

    header {
        position: fixed;
        background-color: #27282c;
    }

    main {
        padding-top: 60px;
    }

    .sub-menu-1 ul li {
        height: 30px;
        margin: 60px 35px;
        list-style-type: none;
        border: none;
    }

    .partners-images img{
        margin: 0 7%;
    }

    .achievs ul img {
        width: 40px;
    }

    .achievs ul {
        padding:0;
    }

    .achievs ul li span {
        font-size: 14px;
    }

    .bannerIMG1 span {
        font-size: 65px
    }

    .img-store span {
        margin: 0;
        padding: 0 1% 0 1%;
        color: #f1d7dd;
        font-size: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: rgba(11, 12, 18, 0.741);
        border-radius: 12px;
        width: auto;
    }

    .logo3 {
        width: 300px;
    }

      


    .navref {
        position: fixed;
        top: 49px;
        left: 0;
        background: #27282c;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        overflow: hidden;
    }

   
    
    .navref li {
        margin: 80px 0;
    
    
    } 

    .navref li a {
        font-size: 20px;
    } 

  
    .icon-burger {
        display: block;
    }
    
    :checked ~ .navref {
        display: none;
    }

    .gotopbtn {
        visibility: hidden;
    }

}

@media (max-width: 678px) {
    .logo3 {
        display: none;
    }

    
}

/* */